@import 'purple';
// @import 'yellow';

@function contrastText($color) {
    $result: invert($color);
    $lightness: lightness($result);
    @if ($lightness < 50) {
        $result: black;
    }
    @return $result;
}

body {
    font-family: $font-principal;
}

.box {
    padding: 20px;
    width: 120px;
    margin-bottom: 5px;
    border-radius: $radius;
}


.font {
    &--primary {
        font-family: $font-principal;
    }
    &--secondary {
        font-family: $font-secondary;
    }
}


.box {
    background-color: $color--primary;
    color: #fff;

    &--important {
        background-color: darken($color--primary, 30%);
    }

    &--warning {
        background-color: lighten($color--primary, 30%);
        color: contrastText(lighten($color--primary, 30%));
    }

    &--shadow {
        box-shadow: $shadow;
    }
}