$bgcolor: #141414;
$text-color: #fff;
$base-font: 'Jost', sans-serif;
$header-height: 167px;
$base-spacing: 20px;
$base-element-height: 44px;
$base-border-radius: 5px;
$box-spacing: 5px;
$breakpoint-desktop: 1280px;
$breakpoint-mobile: 768px;
$breakpoint-phone: 480px;
$top-items-desktop: 6;
$top-items-mobile: 4;