<h1 rotate>Rotation (Shift invierte la rotación)</h1>
<section class="rotation-gallery">
    <div>
        <p>Rotate: 0 | Step: 10</p>
        <img src="assets/gallery/1.jpg" alt="vinilo" width="360" rotate="0" step="10">
    </div>
    <div>
        <p>Rotate: default | Step: 10</p>
        <img src="assets/gallery/2.jpg" alt="vinilo" width="360" rotate step="10">
    </div>
    <div>
        <p>Rotate: default | Step: No</p>
        <img src="assets/gallery/3.jpg" alt="vinilo" width="360" rotate>
    </div>
    <div>
        <p>Rotate: -20 | Step: 1</p>
        <img src="assets/gallery/4.jpg" alt="vinilo" width="360" rotate="-20" step="1">
    </div>
    <div>
        <p>Rotate: 60 | Step: 40</p>
        <img src="assets/gallery/5.jpg" alt="vinilo" width="360" rotate="60" step="40">
    </div>
    <div>
        <p>Rotate: -40 | Step: -20</p>
        <img src="assets/gallery/6.jpg" alt="vinilo" width="360" rotate="-40" step="-20">
    </div>
    <div>
        <p>Rotate: 0 | Step: 180</p>
        <img src="assets/gallery/7.jpg" alt="vinilo" width="360" rotate="0" step="180">
    </div>
    <div>
        <p>Rotate: 0 | Step: 90</p>
        <img src="assets/gallery/8.jpg" alt="vinilo" width="360" rotate="0" step="90">
    </div>
</section>